<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOG_PATH" value="var/logs/" />
  <property name="LOG_FILE" value="devicenator" />

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>
        %black(%date{yyyy-MM-dd'T'HH:mm:ss.SSSZZ}) %highlight(%-5level) [%thread] %yellow(%class:%line) %msg%n%throwable
      </pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/${LOG_FILE}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/${LOG_FILE}-%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"applicationName":"devicenator"}</customFields>
      <includeCallerData>true</includeCallerData>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>

</configuration>